<div class="col s12">
    <div class="card rounded color-surface">
        @* <button class="waves-effect color-primary waves-light btn"> *@
        @*     <i class="material-icons left">info</i> *@
        @*     Info *@
        @* </button> *@
        
        <i class="material-icons small color-primary-icon ">info</i>

        <div class="card-content with-graph">
            <canvas id="graph-canvas" class="graph-canvas" width="200px" height="200px"></canvas>
        </div>
    </div>
</div>
