<div class="col s12">
    <div class="card rounded color-surface --full-width">
        @*Bring this back and link it to another page*@
        @* <i class="material-icons small color-primary-icon ">info</i> *@

        <div class="card-content with-graph">
            <canvas id="graph-canvas" class="graph-canvas" width="200px" height="200px"></canvas>
        </div>
    </div>
</div>
