<div class="col s12">
    <div class="card rounded color-surface">
        <div class="card-content">
            <span class="card-title text-color-primary">@Resources.Strings_GB.title_today</span>
            <p class="text-color-secondary">@Resources.Strings_GB.description_today</p>
        </div>
        <div>
            <hr>
            <div class="center-align">
                <a class="btn color-primary waves-effect"><i class="material-icons-round left">add</i>@Resources.Strings_GB.button_add_activity</a>
            </div>
        </div>
    </div>
</div>
