@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col s12 m6">
        <div class="card rounded color-surface">
            <div class="card-content">
                <span class="card-title text-color-primary">Card Title</span>
                <p class="text-color-secondary">Card body</p>
            </div>
            <div class="card-action">
                <a class="lower-case" href="#">Link 1</a>
                <a class="lower-case" href="#">Link 2</a>
            </div>
        </div>
    </div>
</div>