$way_to_wellbeing_be_active: #f693a7;
$way_to_wellbeing_connect: #ffd176;
$way_to_wellbeing_give: #79dc9d;
$way_to_wellbeing_keep_learning: #6ac8df;
$way_to_wellbeing_take_notice: #c994e9;

:export {
  wayToWellbeingBeActive: $way_to_wellbeing_be_active;
  wayToWellbeingConnect: $way_to_wellbeing_connect;
  wayToWellbeingGive: $way_to_wellbeing_give;
  wayToWellbeingKeepLearning: $way_to_wellbeing_keep_learning;
  wayToWellbeing_TakeNotice: $way_to_wellbeing_take_notice;
}