@import "materialize";

$translucent-way-to-wellbeing-be-active: transparentize(#f693a7, 0.85);
$translucent-way-to-wellbeing-connect: transparentize(#ffd176, .85);
$translucent-way-to-wellbeing-give: transparentize(#79dc9d, .85);
$translucent-way-to-wellbeing-keep-learning: transparentize(#6ac8df, .85);
$translucent-way-to-wellbeing-take-notice: transparentize(#c994e9, .85);
$translucent-way-to-wellbeing-none: transparentize(#cccccc, .85);

.theme-light {
  .color-primary {
    @extend .cyan;
  }
}

.theme-dark {

  @extend .black;
  
  
  nav {
    @extend .black;

    &.color-primary {
      @extend .black;
    }

    .color-primary {
      @extend .black;
    }
    
    .nav-wrapper {
      padding: 0 0.75rem;
    }
  }
  
  .color-primary-icon {
    @extend .cyan-text;
    @extend .right;
    margin: 8px;
  }
  
  .color-primary {
    @extend .cyan;
  }

  .color-surface {
    @extend .grey, .darken-4;
    .text-color-primary {
      @extend .white-text;
    }
    .text-color-secondary {
      @extend .grey-text, .lighten-5;
    }
    
    &.none {
      background-image: linear-gradient(to bottom right, $translucent-way-to-wellbeing-none, transparent);

      .card-action {
        background-color: transparent;
      }
    }
    
    &.connect {
      background-image: linear-gradient(to bottom right, $translucent-way-to-wellbeing-connect, transparent);
      
      .card-action {
        background-color: transparent;
      }
    }
    
    &.be-active {
      background-image: linear-gradient(to bottom right, $translucent-way-to-wellbeing-be-active, transparent);
      
      .card-action {
        background-color: transparent;
      }
    }
    
    &.keep-learning {
      background-image: linear-gradient(to bottom right, $translucent-way-to-wellbeing-keep-learning, transparent);
      
      .card-action {
        background-color: transparent;
      }
    }
    
    &.take-notice {
      background-image: linear-gradient(to bottom right, $translucent-way-to-wellbeing-take-notice, transparent);
      
      .card-action {
        background-color: transparent;
      }
    }
    
    &.give {
      background-image: linear-gradient(to bottom right, $translucent-way-to-wellbeing-give, transparent);
      background-size: 100%;
      
      .card-action {
        background-color: transparent;
      }
    }
  }

  .page-width {
    display: flex;
    justify-content: center;
    
    .row {
      width: 100%;
    }
  }

  .card {
    .card-content {
      &.with-graph {
        justify-content: center;
        text-align: center;
      }
    }
    .card-action {
      a {
        @extend .cyan-text;

        >.lower-case {
          text-transform: none;
        }
      }
    }
  }
  
  .graph-canvas {
    justify-content: center;
    text-align: center;
  }
}

.card {
  &.rounded {
    border-radius: 16px;
    overflow: hidden;
  }
}

.--full-width {
  width: 100%;
}